.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.assign-modal-box {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 30%;
    /* max-width: 500px; */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    max-height: 90vh;
    overflow-y: auto;
}

.member-button {
    width: 100%;
    padding: 14px 20px;
    background-color: #039be5;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-bottom: 12px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.member-button:hover {
    background-color: #e8f0fe;
    color: #0288d1;
}