.files-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 15px;
}

.files-table th {
    background: #f3f4f6;
    text-align: left;
    padding: 12px;
    font-weight: 600;
    font-size: 14px;
}
.files-table tr{
    border-bottom: 1px solid #e5e7eb;
    
}
.files-table tr:hover{
    cursor:default;
}

.files-table td {
    padding: 12px;
    /* border-bottom: 1px solid #e5e7eb; */
    font-size: 14px;
}

.files-table tr:hover {
    background: #f9fafb;
}

.files-table select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #d1d5db;
    cursor: pointer;
}

.empty-row {
    text-align: center;
    padding: 20px;
    color: #6b7280;
}

.name-cell {
    display: flex;
    align-items: center;
    gap: 8px;
}

.name-cell .icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.file-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.create-upload-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.upload-btn{
    background-color: #0698d2;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
}

.create-btn{
    background-color: #0698d2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
.back-btn{
    background-color: #e5e7eb;
    color: #374151;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}